<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login</title>

</head>
<body>
<h1>LOGIN PAGE</h1>
<form name="loginForm" method="POST" action="{% url 'disp' %}">
     {% csrf_token %}
<table width="20%" bgcolor="#E6E6FA" align="center">

<tr>
<td colspan=2><center><font size=4><b>Login Page</b></font></center></td>
</tr>

<tr>
<td>NUM1:</td>
<td><input type="text" size=25 name="num1"></td>
</tr>

<tr>
<td>NUM2:</td>
<td><input type="text" size=25 name="num2"></td>
</tr>

<tr>
<td ><input type="Reset"></td>
<td><input type="submit" onclick="return check(this.form)" value="Submit"></td>
</tr>

</table>
</form>
</body>
</html>